.supporting {
  text-align: center;
  background-color: #ffffff;
  border: thin solid grey;
}

.supporting > .mainAbout, .raicesAbout {
  color: red;
}


@media only screen and (min-width: 768px) {
  .supporting {
    margin: 0 15rem;
  }
}
