@media only screen and (min-width: 768px) {
  .Contact {
    margin: 15rem;
  }
}

.reqHeadline {
  margin: 10rem 0 5rem 0;
  text-align: center;
}

#formControlsTextarea {
  height: 150px;
}

.committeeInfo {
  margin: 10rem 0;
  text-align: center;
}
