@import url(//fonts.googleapis.com/css?family=Open+Sans);

a {
  text-decoration: none;
}

.title {
  margin: 1em;
  color: red;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-brand {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.directs {
  font-family: 'Open Sans', sans-serif;
}

.socials {
  /* margin: 0 1rem; */
  /* padding: 1rem 0; */
  color: #ffffff;
}

.socials > li {
  margin: 0 1rem;
}

@media only screen and (max-width: 768px) {
  .raicesLogo {
    width: 2em; 
    height: 2em;
    margin-top: .5em;
  } 
}

@media only screen and (min-width: 768px) {
  .raicesLogo {
    width: 2.5em; 
    height: 2.5em;
  }
}

.raicesLogo {
  margin-left: 1em;
}
