@import url(//fonts.googleapis.com/css?family=Open+Sans);

a {
  text-decoration: none;
}

.navbar-header {
  background-color: red;
  float: none;
  font-family: 'Open Sans', sans-serif;
}

.navbar-header .navbar-left > li > a {
  font-size: medium;
  color: #ffffff;
}

.socials {
  display: block;
  margin: 0 auto;
  color: #ffffff;
}

