.PhotosCarousel {
  margin-top: 3rem;
}

.carousel-inner > .item > img {
  width: 100%;
  height: 700px;
}

@media only screen and (max-width: 768px) {
  .carousel-inner > .item > img {
    width: 100%;
    height: 400px;
  } 
}
